# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/*.db

# Node
frontend/node_modules/
frontend/dist/
frontend/.env.local
